.createPostPage {
  width: 100%;
}

.postContainer {
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.postContainer h1 {
  text-align: center;
}

.inputPost {
  width: 100%;
}

.inputPost > div {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.inputPost input {
  width: 100%;
  font-size: 20px;
}

.inputPost textarea {
  width: 100%;
}

.postButton {
  width: 200px;
  padding: 8px 0;
  margin: 0 auto;
  background-image: linear-gradient(rgb(255, 145, 0), rgb(250, 246, 8));
  border: none;
  box-shadow: 2px 2px 5px #aaa;
  transition: translate 0.3s, box-shadow 0.3s;
}

.postButton:active {
  translate: 0 5px;
  box-shadow: none;
}
