nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #f4bd16;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav a:hover {
  color: #333;
}

nav a+a {
  margin-left: 12px;
}

nav a svg {
  margin-right: 4px;
}
